# Ignore everything in the project
/*

# But DO format the following directories recursively
!/src
!/public
!/.github

# And DO format specific file types in the root directory
!/*.js
!/*.mjs
!/*.ts
!/*.json
!/*.md
!/*.yaml
!/*.yml

# Un-ignore the LICENSE file which has no extension
!/LICENSE

# Ignore generated and lock files
pnpm-lock.yaml
docker-compose.yml