---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/post/Tag.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { getUniqueTags } from "@/utils/post";
import { SITE } from "@/config";

import { contentRepo } from "@/utils/content.repository";
const posts = await contentRepo.getPostsByLocale("ka");

// Get tags with translated names for the current locale
let tags = getUniqueTags(posts, Astro.currentLocale as "en" | "ka");
---

<Layout title={`თეგები | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle="თეგები"
    pageDesc="ყველა თეგი რომელიც გამოყენებული იქნა პოსტებში."
  >
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
