---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import Main from "@/layouts/Main.astro";
// import SearchComponent from "@/components/features/Search.astro"; // Comment this out
import { SITE } from "@/config";
---

<Layout title={`Search | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Search" pageDesc="Search is temporarily disabled.">
    {/* <SearchComponent locale="en" /> */}
    <p>
      This feature is currently under development and will be available soon.
    </p>
  </Main>
  <Footer />
</Layout>
