---
import { useTranslations } from "@/i18n/utils";

const t = useTranslations(Astro.currentLocale as "en" | "ka");
const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <div class="flex flex-col items-center gap-1 text-sm text-text-secondary">
    <p>Copyright &#169; {currentYear} • {t("footer.copyright")}</p>
  </div>
</footer>
