---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false } = Astro.props;
---

<div class:list={["mx-auto max-w-app", noPadding ? "px-0" : "px-4"]}></div>
