---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import SearchComponent from "@/components/Search.astro";
import { SITE } from "@/config";
---

<Layout title={`ძებნა | ${SITE.title}`}>
  <Header />
  <Main pageTitle="ძებნა" pageDesc="მოძებნე სტატია...">
    <SearchComponent locale="ka" />
  </Main>
  <Footer />
</Layout>
