---
import { SHARE_LINKS } from "@/data/socials";
import LinkButton from "../ui/LinkButton.astro";
import { SITE } from "@/config";

const URL = Astro.url;
---

{
  SHARE_LINKS.length > 0 && (
    <div class="flex flex-col items-center justify-center gap-2 sm:items-start">
      <span class="text-xs font-medium tracking-wider text-text-secondary uppercase opacity-80">
        Share this post:
      </span>
      <div class="flex flex-wrap justify-center gap-1 sm:justify-start">
        {SHARE_LINKS.map(social => {
          const Icon = social.icon;
          const linkTitle =
            typeof social.linkTitle === "function"
              ? social.linkTitle(SITE.title)
              : social.linkTitle;

          return (
            <LinkButton
              href={`${social.href + URL}`}
              class="p-2 text-text-secondary transition-all hover:-translate-y-0.5 hover:text-accent"
              title={linkTitle}
            >
              <Icon class="size-6" />
              <span class="sr-only">{linkTitle}</span>
            </LinkButton>
          );
        })}
      </div>
    </div>
  )
}
